<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Artfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <main class="main-wrap">
        <header class="menu-header">
            <a href="{% url 'main:show_menu' %}" class="back-btn"></a>
            <h1 class="main-title">Artfolio.</h1>
        </header>

        <nav class="navbar">
            <a href="{% url 'main:show_main' %}" class="nav-item">
                <div class="nav-icon home-icon"></div>
            </a>
            <a href="{% url 'main:show_about' %}" class="nav-item">
                <div class="nav-icon about-icon"></div>
            </a>
            <a href="{% url 'main:show_experience' %}" class="nav-item">
                <div class="nav-icon exp-icon"></div>
            </a>
            <a href="{% url 'main:show_artfolio' %}" class="nav-item">
                <div class="nav-icon art-icon"></div>
            </a>
            <a href="{% url 'main:show_project' %}" class="nav-item">
                <div class="nav-icon proj-icon"></div>
            </a>
            <a href="{% url 'main:show_contact' %}" class="nav-item">
                <div class="nav-icon contact-icon"></div>
            </a>
        </nav>

        <div class="wip-container">
            <p class="wip-text">Belum akan di implement di versi 0.2.x</p>
        </div>
    </main>
</body>
</html>