{%extends 'base.html'%}
{%block title%}
<title>{{ name }} - Artfolio</title>
{%endblock title%}
{%block meta%}
<link rel="stylesheet" href="/static/css/art.css">
{%endblock meta%}
{%block content%}
    <main class="main-wrap">
        <header class="menu-header">
            <a href="{% url 'main:show_menu' %}" class="back-btn"></a>
            <h1 class="main-title">Artfolio.</h1>
        </header>

        <div class="wip-container">
            <p class="wip-text">Belum akan di implement di versi 0.2.x</p>
        </div>
    </main>
{%endblock content%}