{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" href="/static/css/cont.css">
{% endblock meta %}

{% block title %}{{ name }} - Contact{% endblock title %}

{% block content %}
<main class="main-wrap">
    <header class="menu-header">
        <a href="{% url 'main:show_menu' %}" class="back-btn"></a>
        <h1 class="main-title">Contact.</h1>
    </header>

    <div class="contact-container">
        <div class="contact-card">
            <h2 class="contact-title">Contact Me</h2>
            <div class="contact-line"></div>
            <ul class="contact-list">
                <li class="contact-item">
                    <img src="/static/img/contact/instagram.svg" alt="Instagram" class="contact-icons">
                    <span class="contact-text">@qodrrexx</span>
                </li>
                <li class="contact-item">
                    <img src="/static/img/contact/email.svg" alt="Email" class="contact-icons">
                    <span class="contact-text">qodrizabi255@gmail.com</span>
                </li>
                <li class="contact-item">
                    <img src="/static/img/contact/line.svg" alt="Line" class="contact-icons">
                    <span class="contact-text">nightcetauri21(line)</span>
                </li>
                <li class="contact-item">
                    <img src="/static/img/contact/linkedin.svg" alt="LinkedIn" class="contact-icons">
                    <span class="contact-text">Muhammad Raihan Al Qadri Kusumaputra</span>
                </li>
                <li class="contact-item">
                    <img src="/static/img/contact/github.svg" alt="GitHub" class="contact-icons">
                    <span class="contact-text">ErzaProxy</span>
                </li>
            </ul>
        </div>

        <div class="credits-section">
            <p class="copyright-text">&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
            <p class="art-credit-text">Art Assets & Character Illustrations: &copy; SEGA / &copy; Colorful Palette Inc. / &copy; Crypton Future Media, INC. (Project Sekai: Colorful Stage!)</p>
        </div>
    </div>
</main>
{% endblock content %}