{% extends 'base.html' %}
{% block meta %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock meta %}

{% block title %}{{ name }} - Portfolio{% endblock title %}

{% block layout %}
<main class="main-wrap">
    <div id="home" class="banner-container">
        <img src="/static/img/background/BannerCompress.png" alt="Top Banner" class="banner-image">
        <div class="fading-top-container">
            <span class="fade-text text-1">Welcome</span>
            <span class="fade-text text-2">Selamat Datang</span>
            <span class="fade-text text-3">いらっしゃいませ</span>
        </div>
        <div class="welcome-text-container">
            <span class="portfolio-title">Qodri's Portfolio</span>
        </div>

        <a href="{% url 'main:show_menu' %}" class="start-btn">START</a>
    </div>
</main>
{% endblock layout %}
